.navigation {
    background-color: #003434;
    display: flex;
   }
   .navigation-left ul {
    list-style: none;
    margin: 0;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
   }
   .navigation-left a.home {
    background-image: url(http://theblog/images/logo_medium.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
    max-height: 60px;
    width: 100px;
   }
   .nav_logo {
    max-width: 100%;
    max-height: 50px;
    margin-top: 10px;
   }
   .menuIcon {
    display: none;
   }
   .centered_logo {
    display: none;
   }
   .nav-search {
    padding-left: 250px;
    display: flex;
    flex-wrap: wrap;
   }
